/* Stylesheet by Amy Willoughby, 2018 */
#mapid {
    height: 450px;
    width: 80%;
    display: inline-block;
    float: left;
}

#text {
    width: 16%;
    height: 200px;
    padding: 15px;
    display: inline-block;
    float: right;
    clear: right;
}

#panel {
    width: 15%;
    height: 100px;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 17px;
    float: right;
}

.range-slider {
    width: 45%;
}

#forward {
    width: 25%;
    float: right;
}

#reverse {
    width: 25%;
    float: left;
}

header {
    color: dimgray;
    font-size: 40px;
}

.legend-control-container{
    width: 150px;
    height: 20px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    text-align: center;
    border: solid gray 1px;
}

.temporal-legend {
    width: 150px;
    height: 20px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    text-align: center;
    border: solid gray 1px;
}

p4 {
    color:dimgray;
    font-size: 16px;
}

p5{
    color:dimgray;
    font-size: 16px;
}

p1 {
    color: grey;
    font-size: 20px;
}

p2 {
    vertical-align: bottom;
    color: grey;
    font-size: 12px;
}

p3 {
    font-size: 20px;
    color: gray;
    letter-spacing: 6px;
}

.menu {
    background: white;
    border-radius: 3px;
    width: 150px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.menu a {
    font-size: 15px;
    color: dimgray;
    display: block;
    padding: 5px;
    border-bottom: 1px solid gray;
    text-decoration: none;
}

.menu a.active {
    background: lightgray;
    border: 2px solid gray;
    
}

.menu a:hover {
    background: rgba(160,0,0,0.8);
    color: white;
}
